Checks: >
  clang-analyzer-*,
  clang-diagnostic-*,
  modernize-*,
  readability-*,
  performance-*,
  misc-*,
  bugprone-*,
  google-*,
  hicpp-*,
  llvm-*,
  -clang-diagnostic-unqualified-std-cast-call,
  -misc-use-internal-linkage,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-qualified-auto,
  -readability-function-cognitive-complexity,
  -readability-avoid-nested-conditional-operator,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -google-build-using-namespace,
  -google-readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -hicpp-vararg,
  -llvm-qualified-auto,
AllowStringArrays: true